.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3); /* Разделение между заголовком и контентом */
  padding: var(--spacing-3); /* Добавляем внутренние отступы для всей секции */
}

.section__heading {
  margin: 0; /* Убираем стандартные отступы заголовка */
  padding: 0; /* Убираем стандартные внутренние отступы */
  align-self: flex-start; /* Обеспечиваем выравнивание заголовка по левому краю */
  font-size: 24px; /* Размер текста */
  font-weight: bold; /* Сделаем текст жирным */
  color: var(--ds-gray-1000); /* Цвет заголовка */
}

.row {
  display: flex;
  gap: var(--spacing-3);

  width: 100%;
}

.card {
  display: flex;
  align-items: center;

  flex: 1;

  min-height: 78px;

  cursor: pointer;

  border: 1px solid var(--ds-gray-alpha-400);
  border-radius: var(--rounded-2xl);

  background-color: #520CDF;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 58px;
    height: 100%;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing-1);

    &__title {
      color: var(--ds-gray-1000);

      font-size: 18px;
      font-weight: 600;
      margin-top: 20px; /* Отступ сверху */
      margin-bottom: 10px; /* Отступ снизу */
      margin-left: 0; /* Отступ слева */
      margin-right: 0; /* Отступ справа */
    }

    &__title_sm {
      font-size: 16px;
    }

    &__description {
      color: var(--ds-gray-900);

      font-size: 14px;
      font-weight: 500;
    }
  }
}
