.section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  
    &__heading {
      font-size: 20px;
      font-weight: 600;
    }
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-3);
    filter: blur(3px);
    pointer-events: none;
    position: relative;
  }
  
  .overlayLine {
    position: absolute; /* Абсолютное позиционирование относительно родителя */
    top: 0; /* Начинаем с верхнего края */
    left: 0; /* Начинаем с левого края */
    width: 100%; /* Линия покрывает всю ширину родительского элемента */
    height: 100%; /* Линия покрывает всю высоту родительского элемента */
    background-color: transparent; /* Сам фон линии прозрачный, так как она диагональная */
    z-index: 10; /* Располагаем поверх содержимого */
  
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%; /* Делаем линию шире, чтобы она точно пересекала элемент по диагонали */
      height: 5px; /* Толщина линии */
      background-color: var(--ds-violet-700); /* Цвет линии */
      transform-origin: center;
      z-index: 10;
    }
  
    &:nth-child(1)::before {
      transform: rotate(-60deg); /* Первая диагональная линия */
    }
  
    &:nth-child(2)::before {
      transform: rotate(60deg); /* Вторая диагональная линия */
    }
  }
  
  
  .card {
    height: 157px;
  
    cursor: pointer;
  
    border: 1px solid var(--ds-gray-alpha-400);
    border-radius: var(--rounded-2xl);
  
    background-color: var(--ds-background-200);
  
    &__content {
      position: relative;
  
      width: 100%;
      height: 100%;
  
      &__number {
        position: absolute;
        top: 10px;
        left: 15px;
  
        color: var(--ds-violet-700);
  
        font-family: Montserrat;
  
        font-size: 20px;
        font-weight: 800;
      }
  
      &__title {
        position: absolute;
        bottom: 0;
        left: 0;
  
        width: 100%;
        padding: 15px;
  
        font-size: 16px;
        font-weight: 600;
        color: var(--ds-violet-700);
      }
    }
  }
  